
 <div class="mt-5 d-flex justify-content-center grid gap-5 nav-bar ">
     <ul class="nav-bar">
        <li title="Home" >
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" ><i class="col fa fa-home" style="font-size:48px; "></i></a>
        </li>
        <li title="About">
            <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active"><i class="col fa fa-info-circle " style="font-size:48px;"></i></a>
        </li>
        <li title="My Projects">
            <a class="nav-link" [routerLink]="['/project']" routerLinkActive="active"><i class="col fa fa-folder" style="font-size: 48px;"></i></a>
        </li>
        <li title="Contact me">
            <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active"><i class="col fa fa-envelope " style="font-size:48px;"></i></a>
        </li>

     </ul>
 </div>
