<div class="slideButton about animate__animated ">
    <div class="animate__animated animate__fadeIn animate__delay-1s">
        <h1>Who i am ?</h1>
        <p class="font-family-sans-serif">
            I am a software programmer with +5 year of experience working with Java programming desktop systems and 
            +2 year of experiencie as a FullStack Developer using technologies such as React Js, Java, spring mvc and oracle. 
            I currently leads a programming team in the General Directorate of Customs of Nicaragua, developing and directing the entire life cycle of web and desktop systems at an institutional level.
            I have developed personal applications with technologies such as Angular Js, Node Js, Express, MongoDB and I would love to increase my skills and specialize in these technologies.
            If you want to give me the opportunity to help me grow professionally, please contact me and I assure you that I will become an important element for your company.
        </p>
    </div>
</div>
